<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="conteiner">
        <div class = "col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7  parte1" >
            <h2>Fabrica de cartas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nulla ratione illo! Quam, dolor nesciunt voluptate eaque eius ex perferendis in incidunt quas id aperiam? Possimus culpa facere assumenda? Dignissimos?</p>
        </div>

        <div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-md-1 offset-lg-1 offset-xl-1 parte2">
            <a   href="https://github.com/AgustinMoyaArancibia/tp_laboratorio_2/tree/main/tp4%20laboratorio2" target="_blank"><img src="../../../assets/proyectoFabricaPegasus.png" class="img-fluid" id="fabrica"></a>

        </div>
        
    </div>

</div>