
    <div class="row">
        <h1>Hablidades</h1>

        <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]="'../assets/PgcSR.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="70"
        ></circle-progress>
        </div>

     <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]= "'../assets/CSS-Logo-500x283.png'"
            [showImage]="true"
            [imageWidth]="170"
            [imageHeight]="70"
        ></circle-progress>
        </div>

        <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]="'../assets/js-logo.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="70"
        ></circle-progress>
        </div>

    </div>

    <div class="row">
       

        <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="70"
        ></circle-progress>
        </div>

     <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]= "'../assets/CSS-Logo-500x283.png'"
            [showImage]="true"
            [imageWidth]="170"
            [imageHeight]="70"
        ></circle-progress>
        </div>

        <div class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]="'../assets/js-logo.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="70"
        ></circle-progress>
        </div>

    </div>





