<div class="row">
    
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  col-xl-4 ">
      <img src="../../../assets/me.jpg" class="img fluid" id="fotoPerfil">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
      <p id="nombre" >Agustin Fernando Moya Arancibia</p>
      <p>Full Stack Developer Jr</p>
  </div>
  <div id="informacion" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
      <span>
          <h1>Acerca de mi</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Vel, labore fuga? Ipsum alias atque consequuntur? Odio expedita, similique magni aliquid
              quaerat dolore alias quidem repudiandae! Cum odit culpa praesentium vitae?</p>   
      </span>
  </div>
  
</div>